.newList{
    width: 60%;
    background-color: #D9D9D9;
        
    border-radius: 12px;
    padding: 32px;

    position: absolute;

    &__form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        &__error{
            font-size: small;
            color: red;
        }
    }

    &__button_close{
        background-color: transparent;
        border: none;

        position: absolute;
        top: 5px;
        right: 10px;

        img{
            height: 32px;
        }
    }

    &__label{
        width: 70%;
        p{
            margin-bottom: 7px;
        }

        input{
            width: 100%;
            padding: 7px 12px;
            box-sizing: border-box;
        }
    }

    &__category{
        width: 100%;

        padding: 7px 12px;

        cursor: pointer;
    }

    &__button_create{
        background-color: #FF9F1C;
        padding: 12px 32px;
        border: none;
        border-radius: 6px;
        position: relative;
        left: 124px;
        font-size: 16px;
        font-weight: 600;


        &:hover{
            transition: all .4s;
            background-color: #ffa01c41;
        }
    }
}