.home{
    width: 100%;
    height: 100%;

    &__content{
        display: flex;
        justify-content: center;
        align-items: center;

        &__div{
            width: 45%;
        }

        &__title{
            font-family: jost;
            color:#FF9F1C;
            font-size: 100px;
            font-weight: 700;

            span{
                display: block;
                position: relative;
                bottom: 42px;
                left: 190px;
            }
        }

        &__subtitle{
            
            color: #FF9F1C;
            font-size: 32px;
            font-weight: 400;
            text-align: center;
        }

        &__img{

            height: 550px;
        }
    }
}