.elementItem {
    padding: 12px 32px;
    background-color: rgba(217, 217, 217, 0.38);
    border-radius: 16px;
    max-width: 200px;
    height: 30px;
  
  
    &__icon {
      position: relative;
      bottom: 7px;
      left: 26px;
      cursor: pointer;
    }
  }
  
  .elementList_content {
    text-align: center;
    width: 100%;
  }
  
  .clickable {
    cursor: pointer;
  }