.title{
    color: #FFBF68;
    font-size: 52px;
}

.subtitle{
    text-align: center;
}

.login{
    width: 70%;
    background-color: #D9D9D9;

    &__button_close{

        background-color: transparent;
        border: none;

        img{
            height: 32px;
        }
    }
}