.login{
    height: 100%;
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    &__title{
        .title{
            color: #FFBF68;
            font-size: 52px;
        }
        
        .subtitle{
            text-align: center;
        }
    }


    
    &__content{
        width: 100%;
        background-color: #D9D9D9;
        
        border-radius: 12px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        padding: 27px 0;

        &__button_close{
            background-color: transparent;
            border: none;

            position: relative;
            bottom: 20px;
            left: 47%;

            img{
                height: 32px;
            }
        }

        &__label{
            p{
                margin-bottom: 7px;
            }

            input{
                min-width: 350px;
                padding: 7px 12px;
            }
        }

        &_errorLogin{
            color: red;
        }

        &__button_login{
            background-color: #FF9F1C;
            padding: 12px 32px;
            border: none;
            border-radius: 6px;
            position: relative;
            left: 124px;
            font-size: 16px;
            font-weight: 600;


            &:hover{
                transition: all .4s;
                background-color: #ffa01c41;
            }
        }

        .active{
            background-color: #ffa01c41;  
        }
    }
}


